* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
}

header  {
    background-color: #dce1da;
    height: 200px;
    width: 100%;    
}

.nav {

    height: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
    background:  #dce1da url("img/photo.png") no-repeat bottom; 
    background-size: cover;

}

hr {
    border: 3px solid black;
    border-radius: 5px;
    width: 50px;
    margin: 20px auto;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}



.latest-articles {
    background-color: #dce1da;
    margin-top: 10px;
    text-align: center;
    padding: 20px;

}

.kartice {
    display: flex;
    flex-wrap: wrap;


}

.kartice article {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.image {
    height: 400px;
    width: 100%;
    background: url("./img/1.png");
    background-size: cover;
}

.kartice .text {
    height: 400px;
    background-color: white;
    padding: 0 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.about .text {
    background-color: white;
    padding: 0 30px;
    margin: 20px 0;
    text-align: justify;

}

.subscribe {
    background: gray;
    padding: 100px 10px;
    text-align: center;
}

input {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

input[type="submit"] {
    border: 2px solid green;

}

footer { 
    text-align: center;
    padding: 100px 50px;
}

footer h5 {
    margin: 20px 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;

}

i {
    font-size: 50px;
    margin-right: 5px;
}

/* desktop version */

@media screen and (min-width:1054px) {
    .kartice {
        justify-content: space-between;    
    }
    
    .kartice article {
        width: 30%;
    }

    .latest-articles {
        background-color: #dce1da;
        padding: 150px;
    
    }

    .about {
        display: flex;

    }

    .about .text, .about .image {
        width: 50%;
    }

    .about .text {
        padding: 20px 70px;
        height: 350px;
        overflow: hidden;
    }

    input[type="text"] {
        width: 20%;
    
    }

    input[type="submit"] {
        width: 10%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

    }

    footer h5 {
        display: inline-block;
        margin-right: 20px;
    }
    
    h2 {
        font-size: 50px;

    }
    h1 {
        font-size: 80px;

    }
}

